body{
  margin: 1em;
}
.app-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap:20px;
  color: black;
  margin: 2em;

}
.poke-card{
  border:1px solid black;
  border-radius: 10px;
  
}
.poke-name{
  margin:0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.6em;
  text-align: center;
  background-color: #ECD019;  
}
.power-flex{
  display: flex;
  margin: 1em;
  justify-content: space-between;
}
.power-flex p{
  padding: 0.6em;
background-color: #7BB7B7;
border-radius: 5px;
}
.attack-flex{
  display: flex;
  justify-content: space-between;
}
.img-div{
  width: 100%;
  height: 300px;

}
.img-div img{
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.attacks-flex{
  max-width: 100%;
  display: flex;
margin: 1em;
justify-content: space-around;
gap:10px;
}
.attacks-flex p{
  text-align: center;
  background-color: orange;
  border-radius: 5px;
  padding: 0.3em;
}
.search{
 
  text-align: center;  
}
.search input{
  margin: 0 1em}

  button{
    color:white;
    background-color: orange;
    outline: none;
    border:none ;
    padding: 1em;
    cursor: pointer;
  }